<div class="main_container">
    <div class="main_content">
        <div class="banner"
                [style.width.px]="widthBanner"
                [style.height.px]="heightBanner"
                [style.backgroundColor]="bgColor"
                [style.borderRadius.px]="borderRadius"
                [style.border]="borderSize + 'px ' + borderType + borderColor"
                >
            <div class="icon-banner">
                <img src="../../favicon.ico" alt="">
            </div>
            <div class="text-banner">
                <h1 [style.color]="colorTitle"
                    [style.fontSize.px]="titleSize"
                    [style.fontFamily]="titleFontFamily"
                    >{{ titleText }}</h1>
                <p [style.color]="colorSubtitle" 
                    [style.fontSize.px]="subtitleSize" 
                    [style.fontFamily]="subtitleFontFamily"
                    >{{ subtitleText }}</p>
            </div>
        </div>

        <div class="banner-config">

                <!-- Tab menu Text -->
            <mat-tab-group class="banner-config_text">
                <mat-tab label="Text">
                    <input [(ngModel)]="titleText" class="style-input" type="text" placeholder="Title">
                    
                    <input [(ngModel)]="subtitleText" class="style-input" type="text" placeholder="subtitle">
                    
                    <br>
                    <label class="label-style" for="width">Width:
                        <input [(ngModel)]="widthBanner" class="style-input" type="number" id="width" name="width">
                    </label>
                    <label class="label-style" for="height">Height: 
                        <input [(ngModel)]="heightBanner" class="style-input" type="number" name="height" id="height">
                    </label>
                    <br>
                    <label class="label-style" for="title-color">Title color:
                        <input [(ngModel)]="colorTitle" class="style-input" type="color" name="title-color" id="title-color">
                    </label>
                    <label class="label-style" for="subtitle-color">Subtitle color:
                        <input [(ngModel)]="colorSubtitle" class="style-input" type="color" name="subtitle-color" id="subtitle-color">
                    </label>
                    <br>
                    <label class="label-style" for="title-font">Title font: 
                        <select [(ngModel)]="titleFontFamily" class="style-input" name="title-font" id="title-font">
                            <option value="Arial" [ngStyle]="{'fontFamily':'Arial'}">Arial</option>
                            <option value="Brush Script MT" [ngStyle]="{'fontFamily':'Brush Script MT'}">Brush Script MT</option>
                            <option value="Comic Sans" [ngStyle]="{'fontFamily': 'Comic Sans'}">Comic Sans</option>
                            <option value="Courier New" [ngStyle]="{'fontFamily':''}">Courier New</option>
                            <option value="Garamond" [ngStyle]="{'fontFamily':'Garamond'}">Garamond</option>
                            <option value="Georgia" [ngStyle]="{'fontFamily':'Georgia'}">Georgia</option>
                            <option value="Helvetica" [ngStyle]="{'fontFamily':'Helvetica'}">Helvetica</option>
                            <option value="Impact" [ngStyle]="{'fontFamily':'Impact'}">Impact</option>
                            <option value="Lucida Console" [ngStyle]="{'fontFamily':'Lucida Console'}">Lucida Console</option>
                            <option value="Palatino" [ngStyle]="{'fontFamily':'Palatino'}">Palatino</option>
                            <option value="Tahoma" [ngStyle]="{'fontFamily':'Tahoma'}">Tahoma</option>
                            <option value="Times New Roman" [ngStyle]="{'fontFamily':'Times New Roman'}">Times New Roman</option>
                            <option value="Trebuchet MS" [ngStyle]="{'fontFamily':'Trebuchet MS'}">Trebuchet MS</option>
                            <option value="Verdana" [ngStyle]="{'fontFamily':'Verdana'}">Verdana</option>
                        </select>
                    </label>
                    <label class="label-style" for="subtile-font">Subtitle font: 
                        <select [(ngModel)]="subtitleFontFamily" class="style-input" name="subtitle-font" id="subtitle-font">
                            <option value="Arial" [ngStyle]="{'fontFamily':'Arial'}">Arial</option>
                            <option value="Brush Script MT" [ngStyle]="{'fontFamily':'Brush Script MT'}">Brush Script MT</option>
                            <option value="Comic Sans" [ngStyle]="{'fontFamily': 'Comic Sans'}">Comic Sans</option>
                            <option value="Courier New" [ngStyle]="{'fontFamily':''}">Courier New</option>
                            <option value="Garamond" [ngStyle]="{'fontFamily':'Garamond'}">Garamond</option>
                            <option value="Georgia" [ngStyle]="{'fontFamily':'Georgia'}">Georgia</option>
                            <option value="Helvetica" [ngStyle]="{'fontFamily':'Helvetica'}">Helvetica</option>
                            <option value="Impact" [ngStyle]="{'fontFamily':'Impact'}">Impact</option>
                            <option value="Lucida Console" [ngStyle]="{'fontFamily':'Lucida Console'}">Lucida Console</option>
                            <option value="Palatino" [ngStyle]="{'fontFamily':'Palatino'}">Palatino</option>
                            <option value="Tahoma" [ngStyle]="{'fontFamily':'Tahoma'}">Tahoma</option>
                            <option value="Times New Roman" [ngStyle]="{'fontFamily':'Times New Roman'}">Times New Roman</option>
                            <option value="Trebuchet MS" [ngStyle]="{'fontFamily':'Trebuchet MS'}">Trebuchet MS</option>
                            <option value="Verdana" [ngStyle]="{'fontFamily':'Verdana'}">Verdana</option>
                        </select>
                    </label>
                    <br>
                    <label class="label-style " for="title-font-size">Title font size:
                        <input [(ngModel)]="titleSize" class="style-input" type="range" name="title-font-size" id="title-font-size" value="30">
                    </label>
                    <label class="label-style" for="subtitle-font-size">Subtitle font size:
                        <input [(ngModel)]="subtitleSize" class="style-input" type="range" name="subtitle-font-size" id="subtitle-font-size" value="30">
                    </label>
                </mat-tab>

                    <!-- Tab menu BG -->
                <mat-tab label="Background">
                    <label class="label-style" for="bg-color">Background color:
                        <input [(ngModel)]="bgColor" class="style-input" type="color">
                    </label>
                    <label class="label-style" for="border-color">Border color:
                        <input [(ngModel)]="borderColor" class="style-input" type="color">
                    </label>
                    <br>
                    <label class="label-style" for="border-type">Border type: 
                        <select [(ngModel)]="borderType" class="style-input" name="border-type" id="border-type">
                            <option value="hiden">hiden</option>
                            <option value="Dotted">Dotted</option>
                            <option value="dashed">dashed</option>
                            <option value="solid">solid</option>
                            <option value="double">double</option>
                            <option value="groove">groove</option>
                            <option value="ridge">ridge</option>
                            <option value="inset">inset</option>
                            <option value="outset">outset</option>
                            <option value="none">none</option>
                        </select>
                    </label>
                    <br>
                    <label  class="label-style" for="border-size-color">Border size:
                        <input [(ngModel)]="borderSize" class="style-input" type="range">
                    </label>
                    <br>
                    <label  class="label-style" for="border-size-color">Border radius:
                        <input [(ngModel)]="borderRadius" class="style-input" type="range">
                    </label>
                </mat-tab>

                    <!-- Tab menu Icon -->
                <mat-tab label="Icons">
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>